.profileBox{
    width: 40em;
    border: 2px solid black;
    display: flex;
    margin: 1em;
    flex-wrap: wrap;
  }
  
  .profileBox img{
    width: 12em;
    height: 12em;
    padding: 0.5vw;
  }
  
  .profileBox div{
    text-align: left;
    padding-left: 30px;
  }