.numbersTable{
    width: 39em;
    margin: 0.5em;
    padding: 2.5em 0 2.5em 3em ;
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .numbersTable li{
    list-style-type: none;
    margin:0;
    border: 1px solid black;
    width: 7em;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }